
{
    
    font-family: Arial, sans-serif;
        

        
}


nav{
    width: 100%;
    height: 60px; 
    background: #344051;
    
}

.pich{
    background: url(../img/bg.jpg);
    box-shadow: 10px 30px 20px 20px #e6e8ee;
}

.logo{
    
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    
}
.menu{
    
    float:left;
}
.menu li{
    float: left; 
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    
}

.menu a{
   color: #fff; 
}
.main{
 width: 100%;
    height: 100%;
    background:  url(../img/Boy.png) 75% 100%/auto 90% no-repeat; 
}

   
}
.title__container{
    
    text-align: center;
    color: #2c384a;
    text-align: center;
    width: 100%;
    
   
}


.title__container h1{
    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: 600;
}

.title__container h4{
    margin-top: 60px;
    font-size: 30px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.maybe{
    text-align: center;
    padding: 100px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}



.hhx{
    height: 60px;
    text-align: center;
    font-family:serif;
    text-transform: uppercase;
    
    font-weight:bold;
    padding: 90px 10px 10px 10px;
    
}

.nom {
    padding: 70px;
    height: 50px;
    font-family:inherit;
    text-align: center;
    
}
.non {
    padding: 20px;
    font-family: inherit;
    height: 50px;
    text-align: center;
    
}
.nor {
    border: 2px solid #6d7682;
    background: none;
    border-radius: 20px;
    color: #6d7682;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.kick{
    background: url(../img/bg2.jpg) 75% 100%/auto 90% no-repeat;
}
.nov {
    height: 80px;
    text-align: center;
    font-family:inherit;
    text-transform:uppercase;
    font-weight: 200;
    margin: 100px 10px 10px 10px;
    padding: 40px 20px 0px 0px;
}

.magic{
    text-align: center;
}

.row{
    text-align: center;
}
.col{
    padding: 70px 100px 30px 20px;
    display:block;
    justify-content:center;
}

.colO{
    
    display:block;
    justify-content:center;
    color: #cf7600;   
}


.ror{
   padding: 120px;
    padding-bottom: 50px;
    height: 100px;
    font-family:inherit;
    text-align: center;
    text-transform:uppercase;
    
}
.rov {
    font-family:inherit;
    text-align: center;
    
}
.col{
    padding: 50px 10px 10px 10px;
}
.er{
    padding: 30px 50px 40px 40px;
    height: 100%;
    display: block;
    
    margin: 0 auto;
}

.rew{
    float:left;
    padding: 5px;
    width: 200px;
}
.wer{
    padding-right: 200px;
    margin: 30px;
    
    }

.asd{
    height: 50px;
    width: 150px;
    border: 3px solid #6d7682;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 10px 20px 20px;
}

.zxc{
    text-align: center;
    padding: 150px 10px 100px 250px;
    font-family:inherit;
    font-weight:bold;
    text-transform:uppercase;
    
}

.marid{
    text-align: center;
    padding: 30px 100px 10px 290px;
    line-height: 100px;
}

.calculator_wrapper{
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px grey;
    margin-bottom: 40px;
    padding: 90px 150px 90px 150px;
    width: 650px;
    text-align: center;
    display:block;

}

.sele{
    width: 300px;
    height: 40px;
    box-shadow: 1px 1px 20px 1px #778899;
    text-align: center;
    
    
}
.lp{
    user-select: all;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 20px;
    font-weight:bold;
    text-transform:uppercase;
    
}

.pl{
    text-align: center;
    padding: 30px 10px 10px 5px;
    
}

.bick{
    background: url(../img/bgstat.jpg) 75% 100%/auto 90% no-repeat;
}
.aaa{
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    padding: 80px 20px 20px 20px;

}


.benefits {
    width: 100%;
    
}
 
.benefits__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
}
 
.benefits__header {
    width: 100%;
    text-align: center;
    padding: 80px 15px 60px;
    text-transform: uppercase;
}
 
.benefits__element {
    width: 25%;
    text-align: center;
}
 
.benefits__icon {
    display: block;
}
 
.benefits__element p {
    
    text-align: center;
    line-height: 1.3;
    
}
 
.benefits__number {
    font-size: 2.5rem;
    font-weight: 700;
    
}
 
.benefits__title {
    font-size: 1.125rem;
}


.pom{
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    padding: 100px 20px 20px 20px;
}
.leps{
    padding: 100px 10px 10px 10px;
}
 
.hytor{
    text-align: center;
}
    
.help{
    color: #000000;
    padding: 50px;
    height: 50px;
    font-family:inherit;
    text-align: center;
}
    
}
.vvb{
     padding: 50px;
     text-align: center;
}

.fick{
    background: url(../img/bg3.jpg);
}
.mnn{
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    color: #FFFFFF;
    padding: 100px 20px 20px 20px;
}
.kmk{
    color: #FFFFFF;
    text-align: center;
    padding: 40px 10px 10px 10px;
    
}

.vdv{

    display:block;
    justify-content: space-around;
    flex-direction:row-reverse;

  }
    
.bvv{
    padding: 40px 0px 0px 0px;
    font-family:inherit;
    text-align: center;
    color: #FFFFFF;
    
    
}
    
.rowTwo{
    text-align: center;
    padding: 20px 10px 10px 10px;
    text-align: center;
    
    text-transform: uppercase;
    text-decoration: underline;
    font-weight:bold; 
    color: #FFFFFF;
}

.names{
    line-height: 20px;
    padding-bottom: 10px;
    display: inline-grid;
    text-align: center;
    width: 300px;
    height: 40px; /* Размеры */
    background: #FFFFFF; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border-radius: 5px; /* Радиус скругления */
   }
    
.namesTwo{
    text-align: center;
    width: 300px;
    display:inline-table;
    height: 35px; /* Размеры */
    background: #FFFFFF; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border-radius: 5px; /* Радиус скругления */
}
.namesTh{
    line-height: 10px;
   
    padding-bottom:padding: 0px;
    display:inline;
    text-align: center;
    width: 300px;
    height: 120px; /* Размеры */
    background: #FFFFFF; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border-radius: 8px; /* Радиус скругления */
}
.namesFour{
    background: #FFFFFF; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border-radius: 8px; /* Радиус скругления */
    width: 90px;
    height: 50px;
    text-align: center;
}
